.ReactModalPortal > div{
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity .2s ease-in-out;
    z-index: 999;
}

.modal-fondo {
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.modal {
    background: white;
    border-radius: 10px;
    color: rgb(51, 51, 51);
    display: inline;
    max-height: 620px;
    max-width: 500px;
    outline: none;
    padding: 10px;
}

.label-bold-medium {
  font-weight: 500; 
}
.input-disabled {
  cursor: not-allowed;
  color: #9ca3af;  
}

.btn-outline-primary {
  background-color: white;
  color: #0F172A;
  border: 1px solid #0F172A;
  font-size: 1rem;
  font-weight:bolder;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  transition: all 0.3s ease;
  width: 108px;
}

.btn-outline-primary i {
  color: #0F172A;
  transition: color 0.3s ease;
}

.btn-outline-primary:hover {
  background-color: #0F172A;
  color: white;
}

.btn-outline-primary:hover i {
  color: white;
}

.fab {
  position: fixed;
  bottom: 25px;
  right: 25px;

  width: 50px;       
  height: 50px;
  border-radius: 50%; 

  display: flex;   
  align-items: center;
  justify-content: center;

  font-size: 24px;  
  background-color: #0F172A; 
  color: white;
  border: none;
  cursor: pointer;
}

.fab-danger {
  position: fixed;
  bottom: 25px;
  left: 25px;

  width: 50px;       
  height: 50px;
  border-radius: 50%; 

  display: flex;   
  align-items: center;
  justify-content: center;

  font-size: 24px;  
  color: white;
  border: none;
  cursor: pointer;
}

.btn-save {
    border: 1px solid #0F172A;
    border-radius: 5px;
    cursor: not-allowed;
    color: #0F172A;      
    font-weight: 400;    
    background-color: white; 
    border-color: #0F172A;
    width: 108px;
    padding: 6px 12px;
}
.btn-save-disabled {
    border: 1px solid #ced4da;
    border-radius: 5px;
    cursor: not-allowed;
    color: #9ca3af;          
    background-color: #e5e7eb; 
    font-weight: 400;
    border-color: #d1d5db;
    width: 108px;
    padding: 6px 12px;
}
